
.profilepic{width:140px;
border-radius: 50%;
height:140px;
padding:10px;
top:170px;
left:63px;
background:white;
position:absolute;

}
.profilepicx{width:140px;

height:140px;
padding:10px;
top:170px;
left:63px;
position:absolute;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.username{
font-size:20px;
font-family:verdana;
color:white;
top:425px;
height:50px;
width:200px;
margin-top: 24%;
margin-left: 21%;
}
.box11{top:280px;
    border-radius: 25px;

left:240px;
padding:12px;
background:white;
position:absolute;
width:70px;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
height:16px;
font-size:16px;
font-family:verdana;
cursor:pointer;

color:#868383;}

.box12{top:280px;
    border-radius: 25px;
left:342px;
padding:12px;
background:white;
position:absolute;
width:70px;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
height:16px;
font-size:16px;
font-family:verdana;
cursor:pointer;

color:#868383;}
.box13{top:280px;
    border-radius: 25px;
left:442px;
padding:12px;
background:white;
position:absolute;
width:70px;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
height:16px;
font-size:16px;
font-family:verdana;
cursor:pointer;
color:#868383;}
.box14{top:280px;
    border-radius: 25px;
left:542px;
padding:12px;
background:white;
position:absolute;
width:70px;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
height:16px;
font-size:16px;
font-family:verdana;
cursor:pointer;
color:#868383;}
select{top:280px;
    border-radius: 25px;
left:642px;
padding:10px;
position:absolute;
width:110px;
-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .25) ;
height:40px;
font-size:16px;
font-family:verdana;
border:none;
color:#868383;
cursor:pointer;
}
.box11:hover{background:#e9f0f2; border-radius: 25px;
}
.box12:hover,.box12:active{background:#e9f0f2; border-radius: 25px;
}
.box13:hover{background:#e9f0f2; border-radius: 25px;
}
.box14:hover{background:#e9f0f2; border-radius: 25px;
}
select:hover{background:#e9f0f2; border-radius: 25px;
}
.sidebarp{left:960px;
top:70px;
width:180px;
height:500px;
position:absolute;
}
.abox1{top:440px;
left:100px;
display:none;
position:absolute;
background:white;
width:230px;
border-radius:3px/3px;
height:400px;}
.abox1x{top:440px;
left:100px;
display:none;
position:absolute;
width:230px;
border-radius:3px/3px;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
height:400px;}
.abox2{top:860px;
left:100px;

position:absolute;
background:white;
width:230px;
border-radius:3px/3px;
height:250px;
display:none;}
.abox2x{top:860px;
left:100px;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
position:absolute;
background:white;
width:230px;
display:none;
border-radius:3px/3px;
height:250px;}
.abox3{top:1130px;
left:100px;

position:absolute;
background:white;
width:230px;
display:none;
border-radius:3px/3px;
height:250px;}
.abox3x{top:1130px;
left:100px;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
position:absolute;
background:white;
width:230px;
display:none;
border-radius:3px/3px;
height:250px;}

 .chat-sidebar
{
     width: 220px;
                position: fixed;
                height: 240px;
                top: 60px;
                padding-left: 23px;
                background:#E9EBEE;
            }

#chatnamebox{width:170px;
height:30px;
top:65px;
color:black;
font-size:16px;
padding-top:8px;
padding-left:50px;

}
input[type=text] {
  float: right;
  padding: 3px;
  border-color: #977A00;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 14px;
	width: 15%;
}
.banner button {
  float: right;
  padding: 3px;
	border-color: #977A00;
  margin-top: 11px;
  margin-right: 7.9%;
	margin-left: -10px;
  font-size: 14px;
	cursor: pointer;
	width: 50px;
}
#chatnameboxp1{width:30px;
height:30px;
left:5px;
position:absolute;
top:8px;
border-radius: 50%;


}

#chatnameboxp2{width:30px;
height:30px;
left:5px;
position:absolute;
top:48px;
border-radius: 50%;

}
#chatnameboxp3{width:30px;
height:30px;
left:5px;
position:absolute;
top:88px;
border-radius: 50%;

}   #chatnameboxp4{width:30px;
height:30px;
left:5px;
position:absolute;
top:128px;
border-radius: 50%;

}   #chatnameboxp5{width:30px;
height:30px;
left:5px;
position:absolute;
top:168px;
border-radius: 50%;

}   #chatnameboxp6{width:30px;
height:30px;
left:5px;
position:absolute;
top:208px;
border-radius: 50%;

}
#chatnameboxp7{width:30px;
height:30px;
left:5px;
position:absolute;
top:248px;
border-radius: 50%;

}
#chatnamebox:hover{background:#e1e5e6;

}
#chatnamebox1:hover{background:#e1e5e6;

}#chatnamebox2:hover{background:#e1e5e6;

}#chatnamebox3:hover{background:#e1e5e6;

}#chatnamebox4:hover{background:#e1e5e6;

}#chatnamebox5:hover{background:#e1e5e6;

}#chatnamebox6:hover{background:#e1e5e6;

}
   #chatnamebox1{width:170px;
height:30px;
top:105px;
color:black;
padding-top:8px;
padding-left:50px;
}  #chatnamebox2{width:170px;
height:30px;
top:145px;

color:black;
padding-top:8px;

padding-left:50px;
}
#chatnamebox3{width:170px;
height:30px;
top:185px;
color:black;
padding-top:8px;

padding-left:50px;
}
#chatnamebox4{width:170px;
height:30px;
top:225px;
color:black;
padding-top:8px;
padding-left:50px;
}
#chatnamebox5{width:170px;
height:30px;
top:265px;
color:black;
padding-top:8px;
padding-left:50px;
}
#chatnamebox6{width:170px;
height:30px;
top:305px;
color:black;
padding-top:8px;
padding-left:50px;
}
#chatnamebox7{width:170px;
height:30px;
top:305px;
color:black;
padding-top:8px;
padding-left:50px;
}
/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #4f7942;

}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;\
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: white;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
.textarea
{
  float: right;
}
.imgcontainer
{
  width: 10%;
  height: 10%;
  padding-top: 10px;
}
.imgcontainer h4
{
  font-family: sans-serif;
  font size: 12px;
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 80px;
}
.imgcontainer h6
{
  font-family: sans-serif;
  font size: 12px;
  margin-top: 20px;
  margin-left: 100px;
}
